<footer class="py-4 bg-footer mt-auto">
  <div class="container-fluid">
    <div class="d-flex align-items-center justify-content-between small">
      <div class="text-muted-1">© <%= Time.now.year %> <b>Harode Supermarket</b>.By  Illusion IT Labs</div>
      <div class="footer-links">
        <a href="https://gambolthemes.net/html-items/gambo_supermarket_demo/privacy_policy.html">Privacy Policy</a>
        <a href="https://gambolthemes.net/html-items/gambo_supermarket_demo/term_and_conditions.html">Terms &amp; Conditions</a>
      </div>
    </div>
  </div>
</footer>